body {
    background-color: #dfc8a9 !important;
}

.header-content {
    padding-bottom: 20px;
    color: black;
}

.logo-div {
    padding-left: 1rem;
}

#heading {
    text-align: left;
    background-color: #88dac7;
    margin-bottom: 5px;
    display: inline-flex;
    border: groove;
    font-family: Arial, Helvetica, sans-serif;
}

.info-div {
    padding-left: 45px;
    text-align: center;
    background-color: #a3ffff;
    border: groove;
    font-family: Arial, Helvetica, sans-serif;
}
.grid {
    font-family: Arial, Helvetica, sans-serif;
}

.icon {
    height: 65px;
    width: 70px;
    float: left;
}

h1 {
    display: block;
    font-size: 3em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#addTask{
    text-align: left;
}

form{
    display: block;
    margin-top: 0em;
    text-align-last: center;
    writing-mode: vertical-lr;
}
.taskInput {
    border: solid darkgrey;
}

#taskIn{
    VERTICAL-ALIGN: TEXT-TOP;
}

#descriptionIn{
    margin-bottom: 5px;
}

#taskList{
    text-align: center;
    background-color: lavender;
    display: table;
    font-size: -webkit-xxx-large;
    border: double;
}

#toDoSection{
    text-align:  -webkit-center;
}

#filterField{
    margin-bottom: 10px;
    text-align: center;
    border: ridge mediumslateblue
}

.gray[data-status="false"] {
    background-color: rgb(225, 218, 218);
    color: black;
}

.gray[data-status="true"] {
    background-color: green;
}

main .grid {
    padding-top: 30px;
}

.deleteBtn {
    font-weight: 900;
    color: red;
    border: black solid 3px;
}

#toDoTable {
text-align: center;
border: black solid 4px;
}

footer {
    padding-top: 15px;
    padding-left: 10px;
    background-color: #318add;
    color: #ffffff;
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
}